.row-fluid
  .col-md-10
    %h3 Professionals
  .col-md-2
    = link_to t('create'), new_professional_path, class: 'btn btn-success pull-right'

.row-fluid
  .col-md-5
    %h5 Liste
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= t('firstname')
          %th= t('lastname')
          %th= t('speciality')
          %th{colspan: 3}= t('actions')
      %tbody
        - @professionals.each do |professional|
          %tr
            %td= professional.firstname
            %td= professional.lastname
            %td= professional.speciality
            %td= link_to t('show'), professional, class: 'btn btn-success btn-xs'
            %td= link_to t('edit'), edit_professional_path(professional), class: 'btn btn-warning btn-xs'
            %td= link_to t('destroy'), professional, method: :delete, data: { confirm: t('destroy_confirmation') }, class: 'btn btn-danger btn-xs'
  .col-md-7
    %h3= t('localization')
    %div.map_block
      #multi_markers{data: { markers: raw(professionals_markers.to_json)}}
