.row
  .col-md-6
    %p#notice= notice

    %p
      %strong Firstname :
      = @professional.firstname
    %p
      %strong Lastname :
      = @professional.lastname
    %p
      %strong Adress 1 :
      = @professional.address_1
    %p
      %strong Adress 2 :
      = @professional.address_2
    %p
      %strong Zipcode :
      = @professional.zipcode
    %p
      %strong City :
      = @professional.city
    %p
      %strong Country :
      = @professional.country
    %p
      %strong Latitude :
      = @professional.latitude
    %p
      %strong Longitude :
      = @professional.longitude

    = link_to 'Edit', edit_professional_path(@professional), class: 'btn btn-warning'
    = link_to 'Back', professionals_path, class: 'btn btn-default'
  .col-md-6
    = image_tag @professional.google_map_path