!!!
%html
%head
  %title DemoDocto
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

%body{id: define_body_id}
  %nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
    = render 'shared/front_navigation'
  .container-fluid
    = yield